@model HalSwaggerSample.WebApp.Proxies.Models.Product
@{
    ViewBag.Title = "Index";
}

<h2>Product</h2>

<ul>
    <li>ProductId: @Model.ProductId</li>
    <li>Name: @Model.Name</li>
    <li>ProductType: @Model.ProductType</li>

    <li>
        Links:
        <ul>
            @foreach (var link in Model.LowLinelinks)
            {
                <li>@link.Rel : @link.Href</li>
            }
        </ul>
    </li>
</ul>